@import 'variables';

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, BlinkMacSystemFont,-apple-system,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 18px;
  position: relative;
}