@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: Roboto, BlinkMacSystemFont, -apple-system, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  position: relative;
  font-size: 18px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Resolving Flash of Undefined Custom Elements (FOUCE)
https://shoelace.style/getting-started/usage#waiting-for-components-to-load
*/
:not(:defined) {
  visibility: hidden;
}

* {
  transition: all 0.3s ease-out;
  -webkit-transition:all 0.3s ;
  -o-transition:all 0.3s ;
  -moz-transition:all 0.3s 
}
