@import 'variables';

body {
  font-family: Roboto, BlinkMacSystemFont,-apple-system,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 18px;
  position: relative;
}

/*
Resolving Flash of Undefined Custom Elements (FOUCE)
https://shoelace.style/getting-started/usage#waiting-for-components-to-load
*/
:not(:defined) {
  visibility: hidden;
}